body{
    background: url("https://c4.wallpaperflare.com/wallpaper/305/547/705/facebook-cover-abstract-wallpaper-preview.jpg");
    /* background-color: #f8f8f8; */
    margin-top: 14px;
}

.container h1{
    text-align: center;
    padding: 0;
    color: rgb(59, 58, 45);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: x-large;
}

.social:hover {
    transform: scale(1.5);
    
}

.row h3{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: x-large;
}

.col-md-9{
    border-radius: 90%;
    
}

h4{
    font-style: italic;
    font-weight: bold;
    color: dimgray;
}
#profile-wrapper{
   
    /* border: transparent; */
    background-color: #f8f8f870;
    text-align: center;
}

#profile-pic{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

.row h3{
    padding-bottom: 8px;
    border-bottom: solid 0.2px rgba(0, 0, 0, 0.185);
    color: rosybrown;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: medium;
    color:white;
}

.row{
    border: transparent;
}

ul{
    padding: 0;
    list-style-type: none;
}
a{
    color: black;
    display: inline-block;
    position: relative;
    left: 660px;
    top: 20px;

}


.social img{
    width: 30px;
    height: 30px;
}

.social-links ul, li{
    display: inline-block;
    list-style-type: none;
}

#my_bio{
    /* background-color: blue; */
    background-color: rgba(0, 0, 0, 0.185);
}

#footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: medium;
    color:white;
    text-align: center;

}